In [387]:
import pandas as pd
from numpy.random import randn

df=pd.DataFrame(randn(5,3),['a','b','c','d','e'],['x','y','z'])
df

          x         y         z
a  0.719249  0.103965  0.026209
b -0.142629 -0.392469  0.386912
c  0.453347 -0.587618 -0.545210
d -0.073613  0.637780 -1.001164
e  1.740632 -0.597888 -0.029214

In [388]:
bool_df = df>0
bool_df

       x      y      z
a   True   True   True
b  False  False   True
c   True  False  False
d  False   True  False
e   True  False  False

In [389]:
df[bool_df]

          x         y         z
a  0.719249  0.103965  0.026209
b       NaN       NaN  0.386912
c  0.453347       NaN       NaN
d       NaN  0.637780       NaN
e  1.740632       NaN       NaN

In [390]:
bool_df_x = df.x > 0
bool_df_x

a     True
b    False
c     True
d    False
e     True
Name: x, dtype: bool

In [391]:
df.x[bool_df_x]

a    0.719249
c    0.453347
e    1.740632
Name: x, dtype: float64

In [392]:
df[df.x>0]

          x         y         z
a  0.719249  0.103965  0.026209
c  0.453347 -0.587618 -0.545210
e  1.740632 -0.597888 -0.029214

In [393]:
# df[df.x>0]['x']
# or
df[df.x>0].x

a    0.719249
c    0.453347
e    1.740632
Name: x, dtype: float64

In [394]:
df[df.x>0][['x','z']]

          x         z
a  0.719249  0.026209
c  0.453347 -0.545210
e  1.740632 -0.029214

In [395]:
# df[(df.x>0) and (df.y>1)]  # ValueError: The truth value of a Series is ambiguous.

df[(df.x>0) & (df.y<1)]

          x         y         z
a  0.719249  0.103965  0.026209
c  0.453347 -0.587618 -0.545210
e  1.740632 -0.597888 -0.029214

In [396]:
# df[(df.x>0) or (df.y>1)]  # ValueError: The truth value of a Series is ambiguous.

df[(df.x>0) | (df.y>1)]

          x         y         z
a  0.719249  0.103965  0.026209
c  0.453347 -0.587618 -0.545210
e  1.740632 -0.597888 -0.029214

In [397]:
df.reset_index()

  index         x         y         z
0     a  0.719249  0.103965  0.026209
1     b -0.142629 -0.392469  0.386912
2     c  0.453347 -0.587618 -0.545210
3     d -0.073613  0.637780 -1.001164
4     e  1.740632 -0.597888 -0.029214

In [398]:
ind = ['aa', 'bb','cc', 'dd','ee']

df.index = ind
df

           x         y         z
aa  0.719249  0.103965  0.026209
bb -0.142629 -0.392469  0.386912
cc  0.453347 -0.587618 -0.545210
dd -0.073613  0.637780 -1.001164
ee  1.740632 -0.597888 -0.029214

In [399]:
state = [10,20,30,40,50]

df['States'] = state
df

           x         y         z  States
aa  0.719249  0.103965  0.026209      10
bb -0.142629 -0.392469  0.386912      20
cc  0.453347 -0.587618 -0.545210      30
dd -0.073613  0.637780 -1.001164      40
ee  1.740632 -0.597888 -0.029214      50

In [400]:
df.set_index("States")

               x         y         z
States
10      0.719249  0.103965  0.026209
20     -0.142629 -0.392469  0.386912
30      0.453347 -0.587618 -0.545210
40     -0.073613  0.637780 -1.001164
50      1.740632 -0.597888 -0.029214