In [90]:
import pandas as pd
from numpy.random import randn


"""
DataFrame used for
Two-dimensional, size-mutable, potentially heterogeneous tabular data.
"""
df=pd.DataFrame(randn(5,3),['A','B','C','D','E'],['x','y','z'])
df

          x         y         z
A -0.302253 -1.343182  0.710126
B  0.185566  1.620733 -0.344539
C -0.772104 -0.422080 -1.551067
D -0.428411  0.035686 -0.705323
E  0.174357  0.422306  0.376421

In [91]:
# Get Column
df['y']

A   -1.343182
B    1.620733
C   -0.422080
D    0.035686
E    0.422306
Name: y, dtype: float64

In [92]:
# Another way to get Column
df.x

A   -0.302253
B    0.185566
C   -0.772104
D   -0.428411
E    0.174357
Name: x, dtype: float64

In [93]:
type(df)

pandas.core.frame.DataFrame

In [94]:
df[['x','y']]

          x         y
A -0.302253 -1.343182
B  0.185566  1.620733
C -0.772104 -0.422080
D -0.428411  0.035686
E  0.174357  0.422306

In [95]:
# Add new column
df['new'] = df.x + df.y

df

          x         y         z       new
A -0.302253 -1.343182  0.710126 -1.645435
B  0.185566  1.620733 -0.344539  1.806298
C -0.772104 -0.422080 -1.551067 -1.194184
D -0.428411  0.035686 -0.705323 -0.392725
E  0.174357  0.422306  0.376421  0.596663

In [96]:
# Remove Column but not replace
df.drop('new',axis=1)

          x         y         z
A -0.302253 -1.343182  0.710126
B  0.185566  1.620733 -0.344539
C -0.772104 -0.422080 -1.551067
D -0.428411  0.035686 -0.705323
E  0.174357  0.422306  0.376421

In [97]:
df

          x         y         z       new
A -0.302253 -1.343182  0.710126 -1.645435
B  0.185566  1.620733 -0.344539  1.806298
C -0.772104 -0.422080 -1.551067 -1.194184
D -0.428411  0.035686 -0.705323 -0.392725
E  0.174357  0.422306  0.376421  0.596663

In [98]:
# Remove Column and replace
df.drop('new', axis=1, inplace=True)
df

          x         y         z
A -0.302253 -1.343182  0.710126
B  0.185566  1.620733 -0.344539
C -0.772104 -0.422080 -1.551067
D -0.428411  0.035686 -0.705323
E  0.174357  0.422306  0.376421

In [99]:
# Remove Row default-> axis=0
df.drop("E")

          x         y         z
A -0.302253 -1.343182  0.710126
B  0.185566  1.620733 -0.344539
C -0.772104 -0.422080 -1.551067
D -0.428411  0.035686 -0.705323

In [100]:
df.shape

(5, 3)

In [101]:
# Get Row
df.loc['A']

x   -0.302253
y   -1.343182
z    0.710126
Name: A, dtype: float64

In [102]:
df.loc['A',"y"]

-1.343181511665305

In [103]:
df.loc[['A','B'], ['y', 'z']]

          y         z
A -1.343182  0.710126
B  1.620733 -0.344539