In [56]:
import pandas as pd
import numpy as np
from numpy.random import randn

data = {"A": [1,2,np.nan], 'B':[4, np.nan, 3],"C":[2,1,3]}

data_frame = pd.DataFrame(data)
data_frame

     A    B  C
0  1.0  4.0  2
1  2.0  NaN  1
2  NaN  3.0  3

### Drop All column which has nan value 0 axis ways

In [57]:
data_frame.dropna()

     A    B  C
0  1.0  4.0  2

### Drop All column which has nan value 1 axis ways

In [58]:
data_frame.dropna(axis=1)

   C
0  2
1  1
2  3

In [59]:

data_frame.dropna(thresh=2)

     A    B  C
0  1.0  4.0  2
1  2.0  NaN  1
2  NaN  3.0  3

In [60]:
data_frame.fillna(value=2)

     A    B  C
0  1.0  4.0  2
1  2.0  2.0  1
2  2.0  3.0  3

In [61]:
data_frame.A.fillna(value=data_frame.A.mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64