## Group By

In [106]:
import pandas as pd


data = {"Company": ["A","B","C","A","A","C"],
        "Person": ["P1","P2","P3","P4","P5","P6"],
        "Sales": [233,222,344,453,564,212]}

data_Frame = pd.DataFrame(data)

data_Frame

  Company Person  Sales
0       A     P1    233
1       B     P2    222
2       C     P3    344
3       A     P4    453
4       A     P5    564
5       C     P6    212

In [107]:
data_Frame.groupby("Company")

In [108]:
byCompany  = data_Frame.groupby("Company")

byCompany.all()

         Person  Sales
Company
A          True   True
B          True   True
C          True   True

In [109]:
byCompany.mean()

              Sales
Company
A        416.666667
B        222.000000
C        278.000000

In [110]:
byCompany.sum()

         Sales
Company
A         1250
B          222
C          556

In [111]:
# Standard Deviation
byCompany.std()

              Sales
Company
A        168.464635
B               NaN
C         93.338095

In [112]:
byCompany.sum().loc["A"]

Sales    1250
Name: A, dtype: int64

In [113]:
data_Frame.groupby("Company").sum().loc["A"]

Sales    1250
Name: A, dtype: int64

In [114]:
data_Frame.groupby("Company").max()

        Person  Sales
Company
A           P5    564
B           P2    222
C           P6    344

In [115]:
data_Frame.groupby("Company").min()

        Person  Sales
Company
A           P1    233
B           P2    222
C           P3    212

In [116]:
data_Frame.groupby("Company").describe()

        Sales
        count        mean         std    min    25%    50%    75%    max
Company
A         3.0  416.666667  168.464635  233.0  343.0  453.0  508.5  564.0
B         1.0  222.000000         NaN  222.0  222.0  222.0  222.0  222.0
C         2.0  278.000000   93.338095  212.0  245.0  278.0  311.0  344.0