# Concatenation, Join, Merging

In [92]:
import pandas as pd

data_frame_1 = pd.DataFrame({
    'A': ["A0", "A1", "A2", "A3", "A4"],
    'B': ["B0", "B1", "B2", "B3", "B4"],
    'C': ["C0", "C1", "C2", "C3", "C4"],
    'D': ["D0", "D1", "D2", "D3", "D4"]
}, index=[0,1,2,3,4])

data_frame_2 = pd.DataFrame({
    'A': ["A5", "A6", "A7", "A8", "A9"],
    'B': ["B5", "B6", "B7", "B8", "B9"],
    'C': ["C5", "C6", "C7", "C8", "C9"],
    'D': ["D5", "D6", "D7", "D8", "D9"]
}, index=[5,6,7,8,9])

data_frame_3 = pd.DataFrame({
    'A': ["A10", "A11", "A12", "A13", "A14"],
    'B': ["B10", "B11", "B12", "B13", "B14"],
    'C': ["C10", "C11", "C12", "C13", "C14"],
    'D': ["D10", "D11", "D12", "D13", "D14"]
}, index=[10,11,12,13,14])

In [93]:
data_frame_1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4

In [94]:
data_frame_2

    A   B   C   D
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
8  A8  B8  C8  D8
9  A9  B9  C9  D9

In [95]:
data_frame_3

      A    B    C    D
10  A10  B10  C10  D10
11  A11  B11  C11  D11
12  A12  B12  C12  D12
13  A13  B13  C13  D13
14  A14  B14  C14  D14

# Concatenation -> O Axis

In [96]:
pd.concat([data_frame_1,data_frame_2, data_frame_3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
12  A12  B12  C12  D12
13  A13  B13  C13  D13
14  A14  B14  C14  D14

# Concatenation -> 1 Axis

In [97]:
pd.concat([data_frame_1,data_frame_2, data_frame_3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4    A4   B4   C4   D4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN   A8   B8   C8   D8  NaN  NaN  NaN  NaN
9   NaN  NaN  NaN  NaN   A9   B9   C9   D9  NaN  NaN  NaN  NaN
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11
12  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A12  B12  C12  D12
13  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A13  B13  C13  D13
14  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A14  B14  C14  D14

In [98]:
## Same Index

In [99]:
data_frame_2.index =[0,1,2,3,4]
data_frame_3.index =[0,1,2,3,4]
pd.concat([data_frame_1,data_frame_2, data_frame_3],axis=1)

    A   B   C   D   A   B   C   D    A    B    C    D
0  A0  B0  C0  D0  A5  B5  C5  D5  A10  B10  C10  D10
1  A1  B1  C1  D1  A6  B6  C6  D6  A11  B11  C11  D11
2  A2  B2  C2  D2  A7  B7  C7  D7  A12  B12  C12  D12
3  A3  B3  C3  D3  A8  B8  C8  D8  A13  B13  C13  D13
4  A4  B4  C4  D4  A9  B9  C9  D9  A14  B14  C14  D14

# Merge

In [100]:
left_data_frame = pd.DataFrame({
    'key':["k0","k1","k2"],
    'A':["A0","A1","A2"],
    'B':["B0","B1","B2"]
})

right_data_frame = pd.DataFrame({
    'key':["k0","k1","k2"],
    'A':["C0","C1","C2"],
    'B':["D0","D1","D2"]
})

In [101]:
left_data_frame

  key   A   B
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2

In [102]:
right_data_frame

  key   A   B
0  k0  C0  D0
1  k1  C1  D1
2  k2  C2  D2

In [103]:
pd.merge(left_data_frame,right_data_frame,how='inner',on='key')

  key A_x B_x A_y B_y
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2

## Farther more : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

## Join: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html