# Pandas - Operations

In [183]:
import pandas as pd

data_frame = pd.DataFrame({
    'A': ["A0", "A1", "A1", "A1", "A4"],
    'B': ["B0", "B1", "B2", "B3", "B4"],
    'C': ["C0", "C1", "C2", "C3", "C4"],
    'D': ["154", "254", "451", "556", "124"]
}, index=[0,1,2,3,4])
data_frame

    A   B   C    D
0  A0  B0  C0  154
1  A1  B1  C1  254
2  A1  B2  C2  451
3  A1  B3  C3  556
4  A4  B4  C4  124

In [184]:
data_frame.head()

    A   B   C    D
0  A0  B0  C0  154
1  A1  B1  C1  254
2  A1  B2  C2  451
3  A1  B3  C3  556
4  A4  B4  C4  124

In [185]:
data_frame.head(2)

    A   B   C    D
0  A0  B0  C0  154
1  A1  B1  C1  254

In [186]:
data_frame.A.unique()

array(['A0', 'A1', 'A4'], dtype=object)

In [187]:
data_frame.A.nunique()

3

In [188]:
data_frame.B.value_counts()

B3    1
B2    1
B1    1
B0    1
B4    1
Name: B, dtype: int64

In [189]:
data_frame.A.value_counts()

A1    3
A4    1
A0    1
Name: A, dtype: int64

In [190]:
def times2(n):
    return n*2
data_frame['B'].apply(times2)

0    B0B0
1    B1B1
2    B2B2
3    B3B3
4    B4B4
Name: B, dtype: object

In [191]:
# Or
data_frame.B.apply(lambda x: x*2)

0    B0B0
1    B1B1
2    B2B2
3    B3B3
4    B4B4
Name: B, dtype: object

In [192]:
data_frame.drop('C',axis=1,)

    A   B    D
0  A0  B0  154
1  A1  B1  254
2  A1  B2  451
3  A1  B3  556
4  A4  B4  124

In [193]:
data_frame.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [194]:
data_frame.sort_values("D")

    A   B   C    D
4  A4  B4  C4  124
0  A0  B0  C0  154
1  A1  B1  C1  254
2  A1  B2  C2  451
3  A1  B3  C3  556

In [195]:
data_frame.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False
4  False  False  False  False