# Data input/Output
- CSV
- Execl
- HTML
- SQL
 etc.

In [39]:
import pandas as pd

pd.read_csv('input.csv')

   A0  B0
0  A1  B1
1  A2  B2
2  A3  B3

In [40]:
data_frame = pd.DataFrame({
    'A': ["A0", "A1", "A1", "A1", "A4"],
    'B': ["B0", "B1", "B2", "B3", "B4"],
    'C': ["C0", "C1", "C2", "C3", "C4"],
    'D': ["154", "254", "451", "556", "124"]
}, index=[0,1,2,3,4])
data_frame

    A   B   C    D
0  A0  B0  C0  154
1  A1  B1  C1  254
2  A1  B2  C2  451
3  A1  B3  C3  556
4  A4  B4  C4  124

In [41]:
data_frame.to_csv("output.csv", index=False)

In [42]:
pd.read_csv("output.csv")\

    A   B   C    D
0  A0  B0  C0  154
1  A1  B1  C1  254
2  A1  B2  C2  451
3  A1  B3  C3  556
4  A4  B4  C4  124

In [43]:
uv_data = pd.read_html("http://www.ugc-universities.gov.bd/")

uv_data[0]

,SL,University,Website
0,1.0,University of Dhaka,www.du.ac.bd
1,2.0,University of Rajshahi,www.ru.ac.bd
2,3.0,Bangladesh Agricultural University,www.bau.edu.bd
3,4.0,Bangladesh University of Engineering & Technology,www.buet.ac.bd
4,5.0,University of Chittagong,www.cu.ac.bd
5,6.0,Jahangirnagar University,www.juniv.edu
6,7.0,Islamic University,www.iu.ac.bd
7,8.0,Shahjalal University of Science & Technology,www.sust.edu
8,9.0,Khulna University,www.ku.ac.bd
9,10.0,National University,www.nu.edu.bd
10,11.0,Bangladesh Open University,www.bou.edu.bd
11,12.0,Bangabandhu Sheikh Mujib Medical University,www.bsmmu.edu.bd
12,13.0,Bangabandhu Sheikh Mujibur Rahman Agricultural...,www.bsmrau.edu.bd
13,14.0,Hajee Mohammad Danesh Science & Technology Uni...,www.hstu.ac.bd
14,15.0,Mawlana Bhashani Science & Technology University,www.mbstu.ac.bd
15,16.0,Patuakhali Science And Technology University,www.pstu.ac.bd
16,17.0,Sher-e-Bangla Agricultural University,www.sau.edu.bd
17,18.0,Chittagong University of Engineering & Technology,www.cuet.ac.bd
18,19.0,Rajshahi University of Engineering & Technology,www.ruet.ac.bd
19,20.0,Khulna University of Engineering and Technology,www.kuet.ac.bd
20,21.0,Dhaka University of Engineering & Technology,www.duet.ac.bd
21,22.0,Noakhali Science & Technology University,www.nstu.edu.bd
22,23.0,Jagannath University,www.jnu.ac.bd
23,24.0,Comilla University,www.cou.ac.bd
24,25.0,Jatiya Kabi Kazi Nazrul Islam University,www.jkkniu.edu.bd
25,26.0,Chittagong Veterinary and Animal Sciences Univ...,www.cvasu.ac.bd
26,27.0,Sylhet Agricultural University,www.sau.ac.bd
27,28.0,Jessore University of Science & Technology,www.just.edu.bd
28,29.0,Pabna University of Science and Technology,www.pust.ac.bd
29,30.0,"Begum Rokeya University, Rangpur",www.brur.ac.bd
30,31.0,Bangladesh University of Professionals,www.bup.edu.bd
31,32.0,Bangabandhu Sheikh Mujibur Rahman Science & Te...,www.bsmrstu.edu.bd
32,33.0,Bangladesh University of Textiles,www.butex.edu.bd
33,34.0,University of Barisal,www.barisaluniv.edu.bd
34,35.0,Rangamati Science and Technology University,www.rmstu.edu.bd
35,36.0,Bangabandhu Sheikh Mujibur Rahman Maritime Uni...,www.bsmrmu.edu.bd
36,37.0,Islamic Arabic University,www.iau.edu.bd
37,38.0,Chittagong Medical University,NaN
38,39.0,Rajshahi Medical University,www.rmu.edu.bd
39,40.0,"Rabindra University, Bangladesh",www.rubd.org
40,41.0,Bangabandhu Sheikh Mujibur Rahman Digital Univ...,www.bdu.ac.bd
41,42.0,Sheikh Hasina University,https://shubd.net/
42,43.0,Khulna Agricultural University,NaN
43,44.0,Bangamata Sheikh Fojilatunnesa Mujib Science a...,https://bsfmstu.ac.bd/
44,45.0,Sylhet Medical University,NaN
45,46.0,Bangabandhu Sheikh Mujibur Rahman Aviation And...,www.bsmraau.edu.bd
46,47.0,Chandpur Science and Technology University,.
47,48.0,"Bangabandhu Sheikh Mujibur Rahman Univerisity,...",.
48,49.0,Hobiganj Agricultural University,.

 ## Create Sqlite engine

In [44]:
from sqlalchemy import create_engine

sql_engine = create_engine('sqlite:///:memory:')
data_frame.to_sql('data_table', sql_engine)

In [45]:
pd.read_sql('data_table',sql_engine)

   index   A   B   C    D
0      0  A0  B0  C0  154
1      1  A1  B1  C1  254
2      2  A1  B2  C2  451
3      3  A1  B3  C3  556
4      4  A4  B4  C4  124

# Further info: https://pandas.pydata.org/pandas-docs/stable/reference/io.html