### Multiple Linear Regression (MLR)
> It is the extension of simple linear regression that predicts a response using two or more features

### Implementation of multiple linear Regression
#### For implementation, we need to import 'Numpy', 'pandas', and 'matplotlib' and some module from 'sklearn' kit

# About Dataset(Admission predict.csv)
### Context
>This dataset is created for prediction of Graduate Admissions from an Indian perspective.

###Content
>The dataset contains several parameters which are considered important during the application for Masters Programs.
The parameters included are :

>GRE Scores ( out of 340 )

>TOEFL Scores ( out of 120 )

>University Rating ( out of 5 )

>Statement of Purpose and Letter of Recommendation Strength ( out of 5 )

>Undergraduate GPA ( out of 10 )

>Research Experience ( either 0 or 1 )

>Chance of Admit ( ranging from 0 to 1 )

###Acknowledgements
>This dataset is inspired by the UCLA Graduate Dataset. The test scores and GPA are in the older format.
>The dataset is owned by Mohan S Acharya.

In [185]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.linear_model as lm

###Read dataset from 'Speed_vs_Risk.csv' file using pandas

In [186]:
dataset = pd.read_csv('Admission_Predict.csv')

dataset

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [187]:
dataset.shape

(400, 9)

### Check the Missing value and fill it
> if dataset contain null value, you must have to drop the row ar fill the null value
    using

> data_frame.dropna()

or
> data_frame.column_name.fillna(value=data_frame.column_name.mean())

In [188]:
dataset.isnull().any()

Serial No.           False
GRE Score            False
TOEFL Score          False
University Rating    False
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance_of_Admit      False
dtype: bool

In [189]:
# or
dataset.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance_of_Admit      0
dtype: int64

#### Create Linear Regression Object and train model

In [190]:
regression = lm.LinearRegression()

from sklearn.model_selection import train_test_split

xTrain, xTest,yTrain,yTest = train_test_split(dataset[['GRE Score', 'TOEFL Score', 'University Rating', 'SOP',"LOR", 'CGPA', 'Research']], dataset['Chance_of_Admit'], test_size=.10, random_state=1)

xTrain

     GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
268        327          113                  4  4.5  5.0  9.14         0
204        298          105                  3  3.5  4.0  8.54         0
171        334          117                  5  4.0  4.5  9.07         1
62         304          105                  2  3.0  3.0  8.20         1
385        335          117                  5  5.0  5.0  9.82         1
..         ...          ...                ...  ...  ...   ...       ...
255        307          110                  4  4.0  4.5  8.37         0
72         321          111                  5  5.0  5.0  9.45         1
396        325          107                  3  3.0  3.5  9.11         1
235        326          111                  5  4.5  4.0  9.23         1
37         300          105                  1  1.0  2.0  7.80         0

[360 rows x 7 columns]

In [191]:
regression.fit(xTrain, yTrain)

LinearRegression()

In [192]:
regression.predict(xTest)

array([0.72327041, 0.69093664, 0.78647694, 0.77752169, 0.85290464,
       0.64195123, 0.63704381, 0.55038788, 0.48957177, 0.93392677,
       0.81361487, 0.93372992, 0.87969987, 0.64597564, 0.72793137,
       0.68594451, 0.81724899, 0.86490837, 0.5089501 , 0.69090231,
       0.65755249, 0.77780105, 0.8351013 , 0.91917253, 0.65433576,
       0.57110342, 0.72391355, 0.70874638, 0.90288107, 0.65502534,
       0.94927974, 0.63446505, 0.79076281, 0.78386048, 0.71353881,
       0.6479597 , 0.43337089, 0.65439085, 0.90624654, 0.7656549 ])

In [193]:
yTest

398    0.67
125    0.64
328    0.80
339    0.81
172    0.86
342    0.58
197    0.73
291    0.56
29     0.54
284    0.94
174    0.87
372    0.95
188    0.93
324    0.67
321    0.73
227    0.64
371    0.89
5      0.90
78     0.44
223    0.71
122    0.57
242    0.70
382    0.82
214    0.94
17     0.65
92     0.34
366    0.74
201    0.72
361    0.93
207    0.66
81     0.96
4      0.65
165    0.78
275    0.78
6      0.75
80     0.50
58     0.36
102    0.62
397    0.91
139    0.78
Name: Chance_of_Admit, dtype: float64